@{
	ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>

<h3>Our School Philosophy</h3>
<p>
	FutureTech Elementary School is dedicated to creating the future tech leaders of tomorrow.
	In addition to providing a well-rounded education in Science, English, Social Studies, Math,
	Foreign Language, Physical Education, Art and Music we pride ourselves in emphasizing a solid
	foundation in Technology.
</p>
<p>
	We have an amazing group of teachers and staff as well as weekly guest instructors to prepare your
	children for their bright futures. Check out our staff page for more information!
</p>
<br />

<h3>Our Lunch Plans</h3>
<p>
	We believe that healthy minds rely upon healthy bodies, and we also want your children to enjoy their
	lunchtime. With our Lunch Plan application, you can choose from a variety of different plans offered
	on a weekly or monthly basis.
</p>
<p>
	We follow all Nutrition Standards regulated by the USDA for School Lunch Programs, and we strive to use
	the freshest and most wholesome ingredients. Your children even have the opportunity to participate in
	preparing the meals through our "Little Chefs" program if they choose to!
</p>
<p>Contact the office for more information.</p>
<br />

<h3>Contact the Office:</h3>
<address>
	123 Friendly Ln<br />
	Redmond, WA 98052<br />
	<abbr title="Phone">P:</abbr>
	206.778.7215
</address>

<address>
	<strong>Office:</strong> <a href="mailto:abvolatile@gmail.com">office@futuretech.com</a>
</address>
